[Unit]
Description=mywebapp Notes Service
Requires=mywebapp.socket mariadb.service
After=network.target mariadb.service

[Service]
Type=notify
NotifyAccess=main
User=app
Group=app
WorkingDirectory=/opt/mywebapp
ExecStartPre=/opt/mywebapp/venv/bin/python /opt/mywebapp/migrate.py --db-user mywebapp --db-password mypassword --db-name mywebapp
ExecStart=/opt/mywebapp/venv/bin/gunicorn app:app
Restart=always

[Install]
WantedBy=multi-user.target